.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: "Kanit", sans-serif;
  font-size: 1.6rem;
  background-color: rgb(217, 208, 208);
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 6em;
  background-color: #4787c2;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.nav-brand {
  position: absolute;
  left: 1em;
  text-decoration: none;
  font-size: 2.5rem;
  color: #fff;
  letter-spacing: 2px;
  text-shadow: 5px 5px 10px;
}
.nav-brand .dark-text {
  color: #2e2e2e;
  font-weight: bold;
  text-transform: uppercase;
}
.nav-brand i {
  color: #00ffaa;
}
.nav__item {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1.2rem;
  padding: 0 1em;
  transition: color 0.3s;
}
.nav__item:hover {
  color: rgb(217, 208, 208);
}

.header {
  text-align: center;
}
.header__logo {
  margin: 0.8em;
  font-size: 2.5em;
  color: #fff;
  letter-spacing: 2px;
}
.header__logo .dark-text {
  color: #2e2e2e;
  font-weight: bold;
  text-transform: uppercase;
}
.header__logo i {
  color: #00ffaa;
}
.header__text {
  color: #2e2e2e;
  font-size: 2rem;
}
.header__list {
  font-size: 1.3rem;
  margin: 0.5em;
  list-style-position: inside;
  list-style-image: url("../img/check-square (1).svg");
}
.header__about-application {
  padding: 1em;
  margin-top: 1em;
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}

.main {
  background-color: #4787c2;
}
.main .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 15em;
  margin-bottom: 1em;
  border: none;
  background-color: rgb(217, 208, 208);
  border-radius: 5px;
  box-shadow: 5px 5px 10px #2e2e2e;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 2em;
}
.main__btn-1 {
  margin-top: 1em;
}
.main__btn .icon {
  width: 100%;
  position: absolute;
  top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4978e6;
  font-size: 7rem;
}
.main__btn-text {
  width: 100%;
  position: absolute;
  top: 60%;
  text-align: center;
  color: #2e2e2e;
}
.main__btn:hover {
  background-color: #fff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5em;
  text-align: center;
  background-color: #2e2e2e;
  color: #fff;
}

@media (min-width: 576px) {
  .nav__item {
    font-size: 1.5rem;
  }
  .header__text {
    font-size: 2rem;
  }
  .header__list {
    font-size: 1.6rem;
  }
  .header__about-application {
    font-size: 1.5rem;
  }
  .main {
    background-color: #4787c2;
  }
  .main__btn {
    width: 12em;
    height: 17em;
  }
  .main__btn .icon {
    font-size: 8rem;
  }
  .main__btn-text {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .nav-brand {
    font-size: 4rem;
  }
  .nav__item {
    font-size: 2rem;
  }
  .header__logo {
    font-size: 4em;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__list {
    font-size: 2.5rem;
    list-style-image: url("../img/check-square (2).svg");
  }
  .header__about-application {
    font-size: 2.5rem;
  }
  .main {
    background-color: #4787c2;
    padding: 20px 40px;
  }
  .main .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main__btn {
    width: 20em;
    height: 30em;
    margin: 20px 20px;
    padding: 0 2em;
  }
  .main__btn .icon {
    font-size: 13rem;
  }
  .main__btn-text {
    font-size: 3rem;
  }
}/*# sourceMappingURL=main.css.map */