.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.btn-special-animation {
  position: relative;
  transition: background-color 0.3s;
  overflow: hidden;
  z-index: 0;
}
.btn-special-animation::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s;
  z-index: -1;
}
.btn-special-animation:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Kanit", sans-serif;
  color: rgb(255, 255, 255);
  background: linear-gradient(216deg, rgb(0, 24, 36) 0%, rgb(16, 118, 142) 32%, rgb(0, 212, 255) 100%);
  font-size: 2rem;
}

.thanks-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2em;
}
.thanks-box h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  text-shadow: 5px 5px 10px #2e2e2e;
}
.thanks-box .info {
  text-align: center;
  color: rgb(217, 208, 208);
  margin-top: 2em;
}
.thanks-box .back_button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  background-color: #fff;
  text-align: center;
  width: 80%;
  min-height: 100px;
  border-radius: 8px;
  box-shadow: 5px 5px 10px #2e2e2e;
  cursor: pointer;
  overflow: hidden;
}
.thanks-box .back_button:hover {
  background-color: rgb(217, 208, 208);
}
.thanks-box .back_button a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4978e6;
  width: 100%;
  height: 80px;
  text-decoration: none;
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .nav__item {
    font-size: 1.5rem;
  }
  .header__text {
    font-size: 2.5rem;
  }
  .header__list {
    font-size: 1.6rem;
  }
  .header__about-application {
    font-size: 1.5rem;
  }
  .main {
    background-color: #4787c2;
  }
  .main__btn {
    width: 12em;
    height: 17em;
  }
  .main__btn .icon {
    font-size: 8rem;
  }
  .main__btn-text {
    font-size: 2rem;
  }
  .main h2 {
    font-size: 2.5rem;
  }
  .thanks-box h1 {
    text-align: center;
    font-size: 3.5rem;
  }
  .thanks-box .info {
    font-size: 2.5rem;
  }
  .thanks-box .back_button a {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .nav-brand {
    font-size: 4rem;
  }
  .nav__item {
    font-size: 2rem;
  }
  .header__logo {
    font-size: 4em;
  }
  .header__text {
    font-size: 3rem;
  }
  .header__list {
    font-size: 2.5rem;
    list-style-image: url("../img/check-square (2).svg");
  }
  .header__about-application {
    font-size: 2.5rem;
  }
  .main {
    background-color: #4787c2;
    padding: 20px 40px;
  }
  .main .wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .main__btn {
    width: 20em;
    height: 30em;
    margin: 20px 20px;
    padding: 0 2em;
  }
  .main__btn .icon {
    font-size: 13rem;
  }
  .main__btn-text {
    font-size: 3rem;
  }
  .main h2 {
    font-size: 3rem;
    padding-bottom: 1em;
  }
  .thanks-box h1 {
    text-align: center;
    font-size: 5rem;
  }
  .thanks-box .info {
    font-size: 3.5rem;
  }
  .thanks-box .back_button {
    margin-top: 4em;
  }
  .thanks-box .back_button a {
    font-size: 2.5rem;
  }
}/*# sourceMappingURL=thanks.css.map */