@media (min-width: 768px) {
	.nav {
		&-brand {
			font-size: 4rem;
		}
		&__item {
			font-size: 2rem;
		}
	}
	.header {
		&__logo {
			font-size: 4em;
		}
		&__text {
			font-size: 3rem;
		}

		&__list {
			font-size: 2.5rem;
			list-style-image: url("../img/check-square\ \(2\).svg");
		}
		&__about-application {
			font-size: 2.5rem;
		}
	}
	.main {
		background-color: $secondary-color;
		padding: 20px 40px;
		.wrapper {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
		&__btn {
			width: 20em;
			height: 30em;
			margin: 20px 20px;
			padding: 0 2em;
			.icon {
				font-size: 13rem;
			}

			&-text {
				font-size: 3rem;
			}
		}

		h2 {
			font-size: 3rem;
			padding-bottom: 1em;
		}
	}
	.thanks-box {
		h1 {
			text-align: center;
			font-size: 5rem;
		}
		.info {
			font-size: 3.5rem;
		}

		.back_button {
			margin-top: 4em;
			a {
				font-size: 2.5rem;
			}
		}
	}
}
