@media (min-width: 576px) {
	.nav {
		&__item {
			font-size: 1.5rem;
		}
	}
	.header {
		&__text {
			font-size: 2.5rem;
		}

		&__list {
			font-size: 1.6rem;
		}
		&__about-application {
			font-size: 1.5rem;
		}
	}
	.main {
		background-color: $secondary-color;

		&__btn {
			width: 12em;
			height: 17em;

			.icon {
				font-size: 8rem;
			}

			&-text {
				font-size: 2rem;
			}
		}

		h2 {
			font-size: 2.5rem;
		}
	}
	.thanks-box {
		h1 {
			text-align: center;
			font-size: 3.5rem;
		}
		.info {
			font-size: 2.5rem;
		}

		.back_button {
			a {
				font-size: 2rem;
			}
		}
	}
}
