@media (min-width: 576px) {
	.nav {
		&__item {
			font-size: 1.5rem;
		}
	}
	.header {
		&__text {
			font-size: 2rem;
		}

		&__list {
			font-size: 1.6rem;
		}
		&__about-application {
			font-size: 1.5rem;
		}
	}
	.main {
		background-color: $secondary-color;

		&__btn {
			width: 12em;
			height: 17em;

			.icon {
				font-size: 8rem;
			}

			&-text {
				font-size: 2rem;
			}
		}
	}
}
