@keyframes text-drive-right {
	from {
		opacity: 0;
		right: -200%;
	}
	to {
		opacity: 1;
		right: 0%;
	}
}

@keyframes text-drive-left {
	from {
		opacity: 0;
		left: -200%;
	}
	to {
		opacity: 1;
		left: 0%;
	}
}

@keyframes d-anim {
	from {
		transform: translate(-50%, -50%);
	}
	to {
		transform: translate(-102%, -50%);
	}
}

@keyframes a-anim {
	from {
		transform: translate(-50%, -50%);
	}
	to {
		transform: translate(2%, -50%);
	}
}
@keyframes grow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes b-anim {
	from {
		opacity: 0;
		scale: 0.5;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes goodAnswer {
	0% {
		transform: scale(1);
		color: white;
	}
	60% {
		transform: scale(1.2);
		color: green;
	}
	100% {
		transform: scale(1);
		color: white;
	}
}
@keyframes wrongAnswer {
	0% {
		transform: scale(1);
		color: white;
	}
	60% {
		transform: scale(0.8);
		color: red;
	}
	100% {
		transform: scale(1);
		color: white;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
