@keyframes text-drive-right {
	from {
		opacity: 0;
		right: -200%;
	}
	to {
		opacity: 1;
		right: 0%;
	}
}

@keyframes text-drive-left {
	from {
		opacity: 0;
		left: -200%;
	}
	to {
		opacity: 1;
		left: 0%;
	}
}

@keyframes d-anim {
	from {
		transform: translate(-50%, -50%);
		width: 60%;
		min-width: 350px;
	}
	to {
		transform: translate(-102%, -50%);
		width: 50%;
		min-width: 200px;
	}
}

@keyframes a-anim {
	from {
		transform: translate(-50%, -50%);
		width: 60%;
		min-width: 350px;
	}
	to {
		transform: translate(2%, -50%);
		width: 50%;
		min-width: 200px;
	}
}
@keyframes grow {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes b-anim {
	from {
		opacity: 0;
		scale: 0.5;
	}
	to {
		opacity: 1;
		scale: 1;
	}
}
