@media (max-width: 840px) {
	.mainRegister_container-form .popup {
		left: 80%;
	}

	.mainDraw {
		&_container {
			gap: 0;

			.top-page {
				min-width: 80%;
				flex-direction: column;
				margin-top: 0;
				margin-bottom: 10px;
				.logo {
					width: 100%;
					margin-right: 0;
					margin-bottom: 5px;
					border-right: none;
					border-bottom: 2px dotted c.$white;
				}
			}

			.middle-page {
				flex-direction: column;
				padding: 0;
				.stats {
					width: 60%;
					margin-right: 0;
					margin-bottom: 10px;
					display: flex;
					justify-content: space-evenly;
					align-items: center;
					flex-direction: row;
				}
			}
			&-tools-board {
				.buttons {
					flex-direction: column;
					.button {
						width: 100px;
					}
				}
				.row {
					.title {
						font-size: 1.7rem;
					}
					.options {
						.option {
							font-size: 1.3rem;
							#color-picker {
								width: 20px;
							}
						}
					}
				}
				.buttons {
					.button {
						width: 70px;
						font-size: 1.3rem;
					}
				}
			}
			&-cards {
				justify-content: center;
				flex-direction: row;
				flex-wrap: wrap;

				.button-answer {
					height: 50px;
					width: 50px;
					font-size: 1.1rem;
					span {
						font-size: 2rem;
					}
				}

				.good-answer {
					order: 2;
					margin: 20px 50px 20px 50px;
				}
				.wrong-answer {
					order: 3;
					margin: 20px 50px 20px 50px;
				}
				&-container {
					order: 1;
					width: 100%;
					height: 360px;
					margin-top: 20px;
					&-drawing-board,
					&-answer-board {
						width: 325px;
						height: 350px;
					}
				}
			}
		}

		.popupResult {
			.buttonPopup {
				font-size: 3rem;
			}
			.textPopup {
				font-size: 4rem;
			}
			.resultPopup {
				font-size: 3rem;
			}
		}
	}

	.footer {
		&_container {
			&-text {
				font-size: 1.5rem;
			}
		}
	}
	@keyframes d-anim {
		0% {
			transform: translate(-50%, -50%);
			opacity: 1;
		}
		40% {
			transform: translate(-50%, -30%);
			opacity: 0.6;
		}
		100% {
			transform: translate(-50%, -50%);
			opacity: 0;
		}
	}

	@keyframes a-anim {
		0% {
			transform: translate(-50%, -50%);
			opacity: 0;
		}

		40% {
			transform: translate(-50%, -70%);
			opacity: 0.4;
		}
		100% {
			transform: translate(-50%, -50%);
			opacity: 1;
		}
	}
}
