@media (max-width: 1100px) {
	.mainDraw {
		&_container {
			&-cards {
				justify-content: center;
				flex-direction: row;
				flex-wrap: wrap;
				width: 60%;

				.good-answer {
					order: 2;
					margin: 20px 70px 20px 70px;
				}
				.wrong-answer {
					order: 3;
					margin: 20px 70px 20px 70px;
				}
				&-container {
					order: 1;
				}
			}
		}
	}
}
