@media (max-width: 400px) {
	.nav_container-logo {
		img {
			margin-top: 5px;
			width: 150px;
		}
	}

	.mainDraw {
		&_container {
			.top-page {
				img {
					width: 150px;
				}
			}
			&-tools-board {
				padding: 10px;
				.row {
					padding: 0;
				}
				.colors {
					margin-top: 10px;
					text-align: center;
					.options {
						flex-direction: row;
						.option {
							margin-right: 10px;
						}
					}
				}
			}

			&-cards {
				.good-answer {
					margin: 10px 10px 10px 10px;
				}
				.wrong-answer {
					margin: 10px 10px 10px 10px;
				}
				&-container {
					&-drawing-board,
					&-answer-board {
						width: 250px;
						height: 325px;
					}
				}
			}
		}
	}
}
