@use "./colors" as c;
@use "./animation" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	font-family: "Rajdhani", sans-serif;
	min-height: 100vh;
	font-size: 1.6rem;
	background-color: c.$white;
}

button {
	font-family: "Rajdhani", sans-serif;
}
.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

a {
	text-decoration: none;
	color: #fff;
}

//main page
.nav {
	background-color: c.$dark-blue;
	font-size: 2rem;
	color: c.$light-blue;
	padding: 1.2rem;

	&_container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		// font-family: "Tourney", cursive;

		&-list {
			font-weight: 200;
			&-item {
				margin-right: 1em;
				transition: color 0.3s;
			}

			.sign-out,
			.results {
				display: none;
			}
			.sign-in {
				display: inline;
			}

			&-item:hover {
				color: c.$light-blue;
			}
		}

		&-logo {
			margin-left: 1em;
		}
	}
}

.header {
	min-height: 25em;
	.hero-img {
		position: relative;
		background-image: url("../img/shadow.jpg");
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
		z-index: -10;
	}
	.hero-text {
		padding: 2em;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: 100%;
		z-index: 5;
	}
	&_container {
		color: c.$white;
		font-size: 1.8rem;
		&-h1 {
			font-size: 5.2rem;
			color: c.$light-blue;
			padding-bottom: 0.5em;
		}
		&-text-h2 {
			color: c.$blue;
			padding: 0.5em;
		}
		&-h1,
		&-text-p {
			position: relative;
			animation: text-drive-right 1.5s ease-in-out;
		}
		.first,
		.last {
			position: relative;
			animation: text-drive-left 1.5s ease-in-out;
		}
	}
}

.main {
	&_game-mode-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		padding: 3em;
		&-h1 {
			font-size: 4.2rem;
			color: c.$dark-blue;
			margin-bottom: 0.5em;
			text-align: center;
		}
		&-buttons {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-direction: row;
			flex-wrap: wrap;
			padding-bottom: 2em;
			&-a {
				&-button {
					height: 20em;
					width: 15em;
					margin: 2em;
					background-color: c.$light-blue;
					border-radius: 2em;
					border: none;
					transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
					box-shadow: c.$light-blue 0px 4px 16px, c.$light-blue 0px 8px 32px;
					cursor: pointer;

					.icon {
						color: c.$white;
						font-size: 10rem;
						margin-bottom: 0.3em;
					}
					.text {
						font-weight: bold;
						font-size: 2.5rem;
						padding: 0.5em;
						color: c.$white;
						text-shadow: 2px 2px 5px c.$dark-blue;
					}
				}
				&-button:hover {
					background-color: c.$dark-blue;
					box-shadow: c.$dark-blue 0px 4px 16px, c.$dark-blue 0px 8px 32px;

					.text {
						color: c.$white;
					}
				}
			}
		}
	}
}

.footer {
	width: 100%;
	background-color: c.$dark-blue;
	padding: 1em;
	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		&-text {
			font-size: 2rem;
			color: c.$white;
		}
	}
}

//contact page

.mainContact {
	&_section {
		&-container {
			min-height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&-h1 {
				padding-bottom: 1em;
				font-size: 4.2rem;
				color: c.$blue;
			}
			&-form {
				display: flex;
				flex-direction: column;
				border: 2px solid c.$dark-blue;
				padding: 1.5em;
				border-radius: 1em;
				width: 60%;
				min-height: 50%;
				background-color: c.$light-blue;

				.input {
					width: 100%;
					margin-bottom: 1em;
					border-radius: 0.5em;
					border: none;
				}

				.name,
				.email {
					height: 4rem;
					padding-left: 1em;
					font-size: 1.5rem;
					font-family: "Rajdhani", sans-serif;
				}

				.textarea {
					height: 15vh;
					padding: 0.5em;
					padding: 1em;
					resize: none;

					font-size: 1.5rem;
					font-family: "Rajdhani", sans-serif;
				}

				.send {
					height: 6vh;
					border: none;
					border-radius: 0.5em;
					font-size: 1.5rem;
					color: c.$white;
					background-color: c.$dark-blue;
					cursor: pointer;
					transition: background-color 0.3s;
				}

				.send:hover,
				.send:focus {
					color: c.$dark-blue;
					background-color: c.$white;
				}
			}
		}
	}
}

.mainThanks {
	&_section {
		&-text {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 90vh;
			&-h1 {
				font-size: 4.2rem;
				color: c.$dark-blue;
				margin-bottom: 1em;
			}
			&-thanks {
				font-size: 2rem;
				margin-bottom: 1em;
			}
			&-backToPage-a {
				margin-top: 1.5em;
				&-button {
					padding: 1em;
					border: none;
					border-radius: 0.5em;
					background-color: c.$blue;
					color: c.$white;
					cursor: pointer;
					font-size: 1.5rem;
					transition: background-color 0.3s;
				}
				&-button:hover {
					background-color: c.$dark-blue;
				}
			}
		}
	}
}

.mainRegister,
.mainLogin {
	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		position: relative;
		min-height: 90vh;
		&-h1 {
			padding-bottom: 0.5em;
			font-size: 4.2rem;
			color: c.$blue;
		}
		&-form {
			padding: 1.2em;
			border: 2px solid c.$dark-blue;
			border-radius: 1em;
			background-color: c.$light-blue;
			width: 50%;
			&-box {
				display: flex;
				flex-direction: column;
				text-align: start;
				label {
					font-size: 1.5rem;
					margin-bottom: 0.3em;
					margin-left: 0.5em;
				}
				input {
					font-family: "Rajdhani", sans-serif;
					width: 100%;
					padding: 1em;
					border: none;
					border-radius: 0.5em;
					font-size: 1.2rem;
				}
				.error-text {
					visibility: hidden;
					color: c.$purple;
					text-align: end;
					margin-left: 1em;
					margin: 0.2em;
					font-size: 1.2rem;
				}
				.passwordError {
					margin-bottom: 1em;
				}
			}
			&-box.error {
				.error-text {
					visibility: visible;
				}
			}
			&-buttons {
				margin-top: 0.5em;
				display: flex;
				justify-content: flex-end;

				.send,
				.clear,
				.login {
					display: block;
					padding: 10px 5px;
					margin-left: 10px;
					width: 100px;
					background-color: c.$dark-blue;
					color: c.$white;
					border: none;
					border-radius: 0.5em;
					cursor: pointer;
					transition: background-color 0.3s, color 0.3s;
				}
				.send:hover,
				.clear:hover,
				.login:hover {
					background-color: c.$white;
					color: c.$dark-blue;
				}

				.login {
					width: 150px;
				}
			}
			&-text {
				.textRegister {
					text-align: center;
					margin-top: 1em;
				}
				a {
					font-size: 2rem;
					transition: color 0.3s;
				}

				a:hover {
					color: c.$purple;
				}
			}
			.popup {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				text-align: center;
				top: -300px;
				left: 90%;
				transform: translate(-50%, -50%);
				padding: 1em;
				background-color: c.$light-blue;
				color: c.$dark-blue;
				border-radius: 1em;
				border: 1px solid c.$dark-blue;
				transition: top 0.5s;

				p {
					font-size: 1.4rem;
				}
				.close {
					margin-top: 20px;
					padding: 0.5em;
					width: 10em;
					border-radius: 0.5em;
					font-size: 1.3rem;
					border: none;
					background-color: c.$dark-blue;
					color: c.$white;
					cursor: pointer;
					transition: background-color 0.3s, color 0.3s;
				}
				.close:hover {
					background-color: c.$white;
					color: c.$dark-blue;
				}
			}

			.show-popup {
				top: 100px;
			}
		}
	}
}

.mainDraw {
	background-color: c.$light-blue;
	min-height: 100vh;
	width: 100%;
	&_container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		gap: 1em;
		padding: 1em;
		.middle-page {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			.stats {
				background-color: c.$dark-blue;
				padding: 1em;
				margin-right: 1em;
				text-align: center;
				color: c.$white;
				border-radius: 0.5em;
				min-width: 14%;
				letter-spacing: 0.1em;
				.text {
					font-size: 2rem;
				}
				.value {
					font-size: 3.3rem;
					font-weight: bold;
				}
				.pulse {
					animation: pulse 1s linear infinite;
				}
			}
		}

		&-tools-board {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			border-radius: 0.5em;
			padding: 1em;
			min-width: 86%;

			background-color: c.$dark-blue;
			.row {
				padding: 0 2em;
				.title {
					font-size: 2rem;
					color: c.$white;
					font-weight: bold;
				}
				.options {
					list-style: none;
					color: c.$white;
					font-size: 1.5rem;
					margin-top: 1em;
					.option {
						margin-bottom: 0.3em;
						cursor: pointer;
						#size-slider,
						#fill-color,
						.fill-color {
							cursor: pointer;
						}
						transition: color 0.3s;

						#fill-color:checked ~ label {
							color: c.$light-blue;
							border: 1px solid c.$purple;
							border-radius: 3px;
							padding: 0.05em;
							box-shadow: 0 0 2px 2px c.$purple;
						}

						#size-slider {
							width: 100%;
							height: 5px;
						}
					}
					.option:hover {
						color: c.$light-blue;
					}
					.option:is(.active) {
						color: c.$light-blue;
						border: 1px solid c.$purple;
						border-radius: 3px;
						padding: 0.05em;
						box-shadow: 0 0 2px 2px c.$purple;
						text-align: center;
					}
				}
			}
			.colors {
				.options {
					display: flex;
					align-items: center;
					justify-content: space-between;
					flex-direction: column;

					.option {
						height: 1em;
						width: 1em;
						border: 1px solid c.$white;

						&:nth-child(1) {
							background-color: #000000;
							transition: color 0.3s;
						}
						&:nth-child(1):hover {
							background-color: #222222;
						}
						&:nth-child(2) {
							background-color: #008000;
							transition: color 0.3s;
						}
						&:nth-child(2):hover {
							background-color: #006000;
						}
						&:nth-child(3) {
							background-color: #0000ff;
							transition: color 0.3s;
						}
						&:nth-child(3):hover {
							background-color: #0000dd;
						}
						&:nth-child(4) {
							background-color: #ff0000;
							transition: color 0.3s;
						}
						&:nth-child(4):hover {
							background-color: #dd0000;
						}
						&:nth-child(5) {
							background-color: white;
						}
						#color-picker {
							opacity: 0;
							cursor: pointer;
						}
					}
					.selected {
						border: 2px solid c.$purple;
						box-shadow: 0 0 2px 1px c.$purple;
					}
				}
			}
			.buttons {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				.button {
					width: 9em;
					padding: 0.5em;
					margin: 0.5em;
					border: none;
					border-radius: 0.5em;
					background-color: c.$white;
					color: c.$dark-blue;
					font-size: 1.2rem;
					cursor: pointer;
					transition: color 0.3s, background-color 0.3s;
				}

				.button:hover {
					background-color: c.$blue;
					color: c.$white;
				}
			}
		}
		&-cards {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-direction: row;
			width: 100%;

			&-container {
				position: relative;
				width: 80%;
				min-height: 75vh;

				&-drawing-board,
				&-answer-board {
					position: absolute;
					background-color: c.$white;
					min-width: 350px;
					width: 60%;
					height: 95%;
					left: 50%;
					top: 50%;
					transform: translate(-50%, -50%);
					border-radius: 1em;
					border: none;
					z-index: 10;
				}
				&-answer-board {
					background-color: c.$dark-blue;
					opacity: 0;
					z-index: 5;
				}
				.d-active {
					animation: d-anim 1s linear forwards;
				}

				.a-active {
					animation: a-anim 1s linear forwards, grow 0.9s 0.8s linear forwards;
				}

				&-drawing-board {
					.canvas {
						width: 100%;
						height: 100%;
						border-radius: 1em;
					}
				}
			}

			.button-answer {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				margin: 2em;
				width: 60px;
				height: 60px;
				border: none;
				border-radius: 50%;
				color: c.$white;
				opacity: 0;
				font-size: 1.3rem;
				span {
					font-size: 2.5rem;
				}
			}

			.b-active {
				animation: b-anim 0.5s 0.5s linear forwards;
				cursor: pointer;
			}

			.wrong-answer {
				background-color: #c92f2f;
				border: none;
				box-shadow: 0 0 10px 2px #b81e1e;
				transition: background-color 0.3s;
			}

			.wrong-answer:hover {
				background-color: #b81e1e;
			}
			.good-answer {
				background-color: #008000;
				border: none;
				box-shadow: 0 0 10px 2px #007000;
				transition: background-color 0.3s, scale 0.3s;
			}

			.good-answer:hover {
				background-color: #007000;
				scale: 1.5;
			}
		}

		.addPoint {
			animation: goodAnswer 1s linear forwards;
		}
		.removePoint {
			animation: wrongAnswer 1s linear forwards;
		}
		.top-page {
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: c.$dark-blue;
			border-radius: 0.5em;
			padding: 1em;
			min-width: 80%;
			min-height: 100px;
			.logo {
				display: flex;
				justify-content: center;
				align-items: center;
				min-height: 100px;
				margin-right: 1em;
				padding: 0 1em;
				border-right: 2px dotted c.$white;
			}

			.mainDraw_container-task-content {
				text-align: center;
				color: c.$white;
				border-radius: 0.5em;
				padding: 0.5em;
				.title {
					margin-bottom: 0.3em;
					font-weight: bold;
				}
			}
		}
	}
}

.mainFormulas {
	padding: 2em;
	min-height: 100vh;
	background-color: c.$light-blue;
	.title {
		text-align: center;
		padding: 1em;
		font-size: 3.5rem;
		color: c.$dark-blue;
	}
	&_section {
		.plane-figures {
			display: flex;
			justify-content: space-around;
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;

			&_card {
				display: flex;
				justify-content: space-around;
				align-items: center;
				flex-direction: column;
				min-height: 475px;
				width: 31%;
				padding: 0.5em;
				margin-bottom: 1.5em;
				background-color: c.$white;
				color: c.$dark-blue;
				border: 2px solid c.$dark-blue;
				border-radius: 0.5em;
				transition: scale 0.3s;

				.card-title {
					font-size: 2.5rem;
					text-align: center;
					color: c.$blue;
				}
				img {
					text-align: center;
					width: 90%;
					height: 200px;
				}
				&-formulas {
					width: 100%;
					font-size: 1.8rem;
					font-weight: 600;
					margin-left: 1em;
					.heron {
						font-size: 1.3rem;
					}
					.text {
						font-weight: bold;
					}
				}
			}
			&_card:hover {
				scale: 1.2;
			}
		}
	}
}

.mainScore {
	&_container {
		display: flex;
		align-items: center;
		justify-content: space-around;
		flex-wrap: wrap;
		min-height: 90vh;
		&-card {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 300px;
			min-width: 350px;
			border: 2px solid c.$dark-blue;
			border-radius: 0.5em;
			margin: 1em;
			background-color: c.$light-blue;
			transition: scale 0.3s;

			.icon {
				font-size: 6rem;
				color: c.$white;
				text-shadow: 0 0 20px c.$dark-blue;
				margin-bottom: 0.5em;
			}
			.title {
				font-size: 3rem;
				margin: 0.3em 0;
				color: c.$white;
				text-shadow: 2px 2px 5px c.$dark-blue;
			}
			.best_score {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2.3rem;
				color: c.$blue;
				.score {
					font-size: 2.8rem;
					font-weight: bold;
					color: c.$dark-blue;
				}
			}
		}
		&-card:hover {
			scale: 1.2;
		}
	}
}
